
process {

  executor='sge'
  clusterOptions = '-pe smp 4 -l mem=60G,h_rt=12:00:00'

  beforeScript = 'source $HOME/.bashrc;module unload compilers;module unload mpi;module load r/recommended;module unload python2;module unload python3;module unload python;'
  echo = true

  withName: bwaAlign {
    clusterOptions = '-pe smp 8 -l mem=60G,h_rt=12:00:00'
  }

  $fastqc.module = ['fastqc/0.11.5']
  $trim_galore.module = ['fastqc/0.11.5','python3/recommended','trim_galore']
  $bwaAlign.module = ['java/1.8.0_92','bwa/0.7.12/gnu-4.9.2']
  $fastqToSam.module = ['java/1.8.0_92', 'picard-tools/2.18.9']
  $mergeLaneBam.module = ['java/1.8.0_92', 'picard-tools/2.18.9']
  $sortLanesBam.module = ['java/1.8.0_92', 'picard-tools/2.18.9']
  $mergeSampleBam.module = ['java/1.8.0_92', 'picard-tools/2.18.9']
  $markDuplicate.module = ['java/1.8.0_92', 'picard-tools/2.18.9']
  $recalibrate.module = ['gatk/3.8.0']
  $recalibrate_wo_markdup.module = ['gatk/3.8.0']
  $realign.module = ['gatk/3.8.0']
  $calculateMetrics.module = ['java/1.8.0_92', 'picard-tools/2.18.9']
  $variantCall.module = ['gatk/3.8.0']
  $variantSelect.module = ['gatk/3.8.0']
  $filterSnp.module = ['gatk/3.8.0']
  $filterIndel.module = ['gatk/3.8.0']
  $combineVariants.module = ['gatk/3.8.0']
  $haplotypePhasing.module = ['gatk/3.8.0']
  $variantEvaluate.module = ['gatk/3.8.0']
  $variantAnnotate.module = ['gatk/3.8.0', 'blic-modules','bioconda/4.5.11']
  $multiqc.module = ['blic-modules','bioconda/4.5.11']
  $multiqc_wo_markdup.module = ['blic-modules','bioconda/4.5.11']
  $get_software_versions.module = ['fastqc/0.11.5','python3/recommended','trim_galore','gatk/3.8.0','blic-modules','bioconda/4.5.11']

}


manifest {
  name = 'NGI_exoseq'
  author = 'senthil10'
  homePage = 'https://github.com/senthil10/NGI-ExoSeq'
  description = 'NGI_exoseq with FastQC, TrimGalore and MultiQC'
  mainScript = 'exoseq.nf'
  nextflowVersion = '>=0.32.0'
  version = '1.0dev'
}


params.genome = 'GRCh37'
params.kit = 'agilent_v5'
params.outdir = './results'

timeline {
  enabled = true
  file = "${params.outdir}/NGI-ExoSeq_timeline.html"
}
trace {
  enabled = true
  file = "${params.outdir}/NGI-ExoSeq_trace.txt"
}
manifest {
    homePage = 'https://github.com/SciLifeLab/NGI-ExoSeq'
    description = 'Nextflow Exome Sequencing Best Practice analysis pipeline, used at the SciLifeLab National Genomics Infrastructure.'
}

params {

    metaFiles {
        'GRCh37' {
            gfasta = '/scratch/scratch/regmr01/Homo_sapiens/NCBI/build37.2/Sequence/WholeGenomeFasta/genome.fa'
            bwa_index = '/scratch/scratch/regmr01/Homo_sapiens/NCBI/build37.2/Sequence/BWAIndex/genome.fa'
            dbsnp = '/scratch/scratch/regmr01/GATK_bundle/2.8/b37/dbsnp_138.b37.vcf'
            hapmap = '/scratch/scratch/regmr01/GATK_bundle/2.8/b37/hapmap_3.3.b37.vcf'
            omni = '/scratch/scratch/regmr01/GATK_bundle/2.8/b37/1000G_omni2.5.b37.vcf'
            snpeffDb = "GRCh37.75"
        }
        'GRCh38' {
            gfasta = '/scratch/scratch/regmr01/Homo_sapiens/NCBI/GRCh38/Sequence/WholeGenomeFasta/genome.fa'
            bwa_index = '/scratch/scratch/regmr01/Homo_sapiens/NCBI/GRCh38/Sequence/BWAIndex/genome.fa'
            dbsnp = '/scratch/scratch/regmr01/GATK_bundle/hg38bundle/dbsnp_144.hg38.vcf'
            hapmap = '/scratch/scratch/regmr01/GATK_bundle/hg38bundle/hapmap_3.3.hg38.vcf'
            omni = '/scratch/scratch/regmr01/GATK_bundle/hg38bundle/1000G_omni2.5.hg38.vcf'
            snpeffDb = "GRCh38.86"
        }
    }
    kitFiles {
        'agilent_v7_hg38' {
            bait = '/scratch/scratch/regmr01/exome_kits/SureSelectHumanAllExonV7_hg38/S31285117_Regions.interval_list'
            target = '/scratch/scratch/regmr01/exome_kits/SureSelectHumanAllExonV7_hg38/S31285117_Covered.interval_list'
            target_bed = '/scratch/scratch/regmr01/exome_kits/SureSelectHumanAllExonV7_hg38/S31285117_Covered.bed'
        }
        'agilent_v7_hg19' {
            bait = '/scratch/scratch/regmr01/exome_kits/SureSelectHumanAllExonV7_hg19/S31285117_Regions.interval_list'
            target = '/scratch/scratch/regmr01/exome_kits/SureSelectHumanAllExonV7_hg19/S31285117_Covered.interval_list'
            target_bed = '/scratch/scratch/regmr01/exome_kits/SureSelectHumanAllExonV7_hg19/S31285117_Covered.bed'
        }
        'agilent_v5' {
            bait = '/scratch/scratch/regmr01/exome_kits/SureSelectHumanAllExonV5/S04380110_Regions.interval_list'
            target = '/scratch/scratch/regmr01/exome_kits/SureSelectHumanAllExonV5/S04380110_Covered.interval_list'
            target_bed = '/scratch/scratch/regmr01/exome_kits/SureSelectHumanAllExonV5/S04380110_Covered.bed'
        }
   }

}

