
process {

  executor='sge'

  // I need to add it because the 'memory' that nextflow assigns to 'memory' 
  //  is not the RAM, but the virtuakl_memory 
  //	with java -jar -Xmx${task.memory.toGiga()}g
  clusterOptions = '-l mem=60G'

  cpus = 1
  penv = "smp"
  time = 12.h
  // I need to add this because some processes run 
  //	with java -jar -Xmx${task.memory.toGiga()}g
  memory = 8.Gb

  beforeScript = 'source $HOME/.bashrc'
  echo = true

  withName: bwaAlign {
    cpus = 1
    time = 24.h
  }
  withName: multiqc {
    time = 24.h
  }
  withName: multiqc_wo_markdup {
    time = 24.h
  }


  // Variant evaluate (calculate ts/Tv and other metrics) and variant annotate (adds SNPeff predictions to combined snp+indel VCF)
  // 	are using gatk3 because they are not available in gatk4 and haven';t decided yet if
  // 	I want to lok for alternatives or just scratch it all together (though multiQC only looks at VariantEvaluate and BAseRecalibrator)
  $variantEvaluate.module = ['gatk/3.8.0']
  $variantAnnotate.module = ['gatk/3.8.0', 'blic-modules','bioconda/4.5.11']
  $fastqc.module = ['blic-modules','bioconda/4.5.11']
  $trim_galore.module = ['blic-modules','bioconda/4.5.11']
  $bwaAlign.module = ['java/1.8.0_92','bwa/0.7.12/gnu-4.9.2']
  $fastqToSam.module = ['java/1.8.0_92', 'picard-tools/2.18.9']
  $mergeLaneBam.module = ['java/1.8.0_92', 'picard-tools/2.18.9']
  $sortLanesBam.module = ['java/1.8.0_92', 'picard-tools/2.18.9']
  $mergeSampleBam.module = ['java/1.8.0_92', 'picard-tools/2.18.9']
  $markDuplicate.module = ['java/1.8.0_92', 'picard-tools/2.18.9']
  $recalibrate.module = ['gatk/4.0.8.0']
  $recalibrate_wo_markdup.module = ['gatk/4.0.8.0']
  $genotypegvcfs.module = ['gatk/4.0.8.0']
  $calculateMetrics.module = ['java/1.8.0_92', 'picard-tools/2.18.9']
  $qualiMap.module = ['blic-modules','bioconda/4.5.11']
  $bigwigs.module = ['blic-modules','bioconda/4.5.11']
  $variantCall.module = ['gatk/4.0.8.0']
  $variantSelect.module = ['gatk/4.0.8.0']
  $filterSnp.module = ['gatk/4.0.8.0']
  $filterIndel.module = ['gatk/4.0.8.0']
  $combineVariants.module = ['java/1.8.0_92', 'picard-tools/2.18.9']
  $multiqc.module = ['blic-modules','bioconda/4.5.11']
  $multiqc_wo_markdup.module = ['blic-modules','bioconda/4.5.11']
  $get_software_versions.module = ['java/1.8.0_92','bwa/0.7.12/gnu-4.9.2','picard-tools/2.18.9','gatk/4.0.8.0','blic-modules','bioconda/4.5.11']
  $output_documentation.module = ['blic-modules','bioconda/4.5.11']
}


manifest {
  name = 'NGI_exoseq'
  author = 'senthil10'
  homePage = 'https://github.com/senthil10/NGI-ExoSeq'
  description = 'NGI_exoseq with FastQC, TrimGalore and MultiQC'
  mainScript = 'exoseq.nf'
  nextflowVersion = '>=0.32.0'
  version = '1.0dev'
}


params.genome = 'GRCh37'
params.kit = 'agilent_v5'
params.outdir = './results'

timeline {
  enabled = true
  file = "${params.outdir}/NGI-ExoSeq_timeline.html"
}
trace {
  enabled = true
  file = "${params.outdir}/NGI-ExoSeq_trace.txt"
}
manifest {
    homePage = 'https://github.com/SciLifeLab/NGI-ExoSeq'
    description = 'Nextflow Exome Sequencing Best Practice analysis pipeline, used at the SciLifeLab National Genomics Infrastructure.'
}

params {

    metaFiles {
        'GRCh37' {
            gfasta = '/scratch/scratch/regmr01/Homo_sapiens/NCBI/build37.2/Sequence/WholeGenomeFasta/genome.fa'
            gfasta_fai_ucsc = '/scratch/scratch/regmr01/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa.fai'
            bwa_index = '/scratch/scratch/regmr01/Homo_sapiens/NCBI/build37.2/Sequence/BWAIndex/genome.fa'
            dbsnp = '/scratch/scratch/regmr01/GATK_bundle/2.8/b37/dbsnp_138.b37.vcf'
	    snpeffDb = "GRCh37.75"
        }
        'GRCh38' {
            gfasta = '/scratch/scratch/regmr01/Homo_sapiens/NCBI/GRCh38/Sequence/WholeGenomeFasta/genome.fa'
            gfasta_fai_ucsc = '/scratch/scratch/regmr01/Homo_sapiens/UCSC/hg38/Sequence/WholeGenomeFasta/genome.fa.fai'
            bwa_index = '/scratch/scratch/regmr01/Homo_sapiens/NCBI/GRCh38/Sequence/BWAIndex/genome.fa'
            dbsnp = '/scratch/scratch/regmr01/GATK_bundle/hg38bundle/dbsnp_144.hg38.with_chr.vcf.gz'
            snpeffDb = "GRCh38.86"
        }
    }
    kitFiles {
        'agilent_v7_hg38' {
            bait = '/scratch/scratch/regmr01/exome_kits/SureSelectHumanAllExonV7_hg38/S31285117_Regions.interval_list'
            target = '/scratch/scratch/regmr01/exome_kits/SureSelectHumanAllExonV7_hg38/S31285117_Covered.interval_list'
            target_bed = '/scratch/scratch/regmr01/exome_kits/SureSelectHumanAllExonV7_hg38/S31285117_Covered.bed'
        }
        'agilent_v7_hg19' {
            bait = '/scratch/scratch/regmr01/exome_kits/SureSelectHumanAllExonV7_hg19/S31285117_Regions.interval_list'
            target = '/scratch/scratch/regmr01/exome_kits/SureSelectHumanAllExonV7_hg19/S31285117_Covered.interval_list'
            target_bed = '/scratch/scratch/regmr01/exome_kits/SureSelectHumanAllExonV7_hg19/S31285117_Covered.bed'
        }
        'agilent_v5' {
            bait = '/scratch/scratch/regmr01/exome_kits/SureSelectHumanAllExonV5/S04380110_Regions.interval_list'
            target = '/scratch/scratch/regmr01/exome_kits/SureSelectHumanAllExonV5/S04380110_Covered.interval_list'
            target_bed = '/scratch/scratch/regmr01/exome_kits/SureSelectHumanAllExonV5/S04380110_Covered.bed'
        }
	'roche_SeqCap_Exome_v3_hg19'   {
	     	bait = '/scratch/scratch/regmr01/exome_kits/SeqCap_EZ_Exome_v3_hg19/SeqCap_EZ_Exome_v3_hg19_primary_targets.interval_list'
		target = '/scratch/scratch/regmr01/exome_kits/SeqCap_EZ_Exome_v3_hg19/SeqCap_EZ_Exome_v3_hg19_capture_targets.interval_list'
		target_bed = '/scratch/scratch/regmr01/exome_kits/SeqCap_EZ_Exome_v3_hg19/SeqCap_EZ_Exome_v3_hg19_capture_targets.bed'
	}
	'roche_SeqCap_Exome_v3_hg38'   {
	     	bait = '/scratch/scratch/regmr01/exome_kits/SeqCap_EZ_Exome_v3_hg38/SeqCap_EZ_Exome_v3_hg38_primary_targets.interval_list'
		target = '/scratch/scratch/regmr01/exome_kits/SeqCap_EZ_Exome_v3_hg38/SeqCap_EZ_Exome_v3_hg38_capture_targets.interval_list'
		target_bed = '/scratch/scratch/regmr01/exome_kits/SeqCap_EZ_Exome_v3_hg38/SeqCap_EZ_Exome_v3_hg38_capture_targets.bed'
	}
	'roche_SeqCap_MedExome_hg19'   {
               	bait = '/scratch/scratch/regmr01/exome_kits/MedExome_hg19/MedExome_hg19_empirical_targets.interval_list'
               	target = '/scratch/scratch/regmr01/exome_kits/MedExome_hg19/MedExome_hg19_capture_targets.interval_list'
               	target_bed = '/scratch/scratch/regmr01/exome_kits/MedExome_hg19/MedExome_hg19_capture_targets.bed'
        }
	'roche_SeqCap_MedExome_hg38'   {
               	bait = '/scratch/scratch/regmr01/exome_kits/MedExome_hg38/MedExome_hg38_empirical_targets.interval_list'
               	target = '/scratch/scratch/regmr01/exome_kits/MedExome_hg38/MedExome_hg38_capture_targets.interval_list'
               	target_bed = '/scratch/scratch/regmr01/exome_kits/MedExome_hg38/MedExome_hg38_capture_targets.bed'
        }

   }

}

